.AddForm {
  display: none;
  position: absolute;
  left: 395px;
  top: 563px;
  height: 677px;
  width: 650px;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  &:target {
    display: block;
  }

  &__header {
    display: flex;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    height: 69px;
    align-items: center;

    h1 {
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
      margin: 0 135px 0 219px;
    }

    a {
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      color: rgba(0, 149, 246, 1);
      text-decoration: none;
    }
  }
  &__discreption {
    opacity: 0;
    visibility: hidden;
    left: 242px;
    top: 709px;
    height: 677px;
    width: 956px;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    a {
      color: black;
      font-size: 36px;
    }

    &:target {
      opacity: 1;
      visibility: visible;
    }
  }
  &__Wrapper {
    display: flex;
    .Image {
      height: calc(100% - 69px);
      width: 599px;
      overflow: hidden;
      margin: 0 16px 0 0;
      align-items: center;
      display: flex;
      img {
        height: 604px;
        max-width: 599px;
      }
    }

    textarea {
      border: none;
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
      margin: 18px 0 0 0;
      width: calc(100% - 24px);
      min-height: 175px;
      max-height: 200px;
      outline: 0;
      outline-offset: 0;
      display: flex;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    div {
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
    h1 {
      margin: 0 0 0 10px;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      display: flex;
      align-items: center;
    }
  }

  &__headComponents {
    width: calc(100% - 17px - 24px);
    display: flex;
    justify-content: space-between;
    margin: 0 17px 0 24px;

    h1 {
      margin: 0;
      display: flex;
      align-items: center;
    }

    .share {
      background: none;
      border: none;
      color: rgba(0, 149, 246, 1);
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      display: flex;
      align-items: center;
    }
  }

  &__right {
    width: 341px;
  }

  &__end {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
    span {
      display: flex;
      align-items: center;
    }
  }

  h2 {
    margin: 225px auto 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 364px;
  }

  label {
    display: block;
    background: rgba(121, 167, 255, 1);
    padding: 9px 27px;
    font-size: 18px;
    font-weight: 700;
    width: 272px;
    line-height: 21px;
    color: white;
    border-radius: 24px;
    margin: auto;
  }
  #input__file {
    opacity: 0;
    visibility: hidden;
  }
}
